body {
  background-color: rgb(181, 181, 181);  
  color: rgb(230, 230, 230);
  font-family: sans-serif;
  margin: 0; /* Reset default body margin */
  height: 100vh; /* Set body height to full viewport height */
}

.container {
  background-color: rgb(181, 181, 181);
  height: 100%; /* Occupy full height of the parent (body) */
  display: flex;
  flex-direction: column; /* Arrange children in a column */
}

.navBar {
  background-color: rgb(24, 24, 24);
  height: 10%;
  z-index: 3;
  display: flex;
  align-items:center;
  justify-content: center;
}

.underNav {
  
  display: flex;
  flex-direction: row;
  height: 90%;
   /* Make underNav occupy remaining vertical space */
}

.leftColumn {
  flex: 1;
  background-color: rgb(236, 236, 236);
  //box-shadow: -1px 10px 35px rgba(0, 0, 0, .7);
  z-index: 4;
  //border-radius: 10px;
  //margin: 20px;
  max-width: 300px;
  //margin-top: 35px;
  //margin-bottom: 35px;
}


.contentContainer {
  flex: 3;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  z-index: 0;
  
}

.optionsComponent {
  background-color: #222840;
  border-radius: 10px;
  flex: 1;
  margin-top: 35px;
  margin-left: 40px;
  margin-right: 60px;
  margin-bottom: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.generatedComponent {
  background-color: #222840;
  border-radius: 10px;
  flex: 3;
  margin-top: 35px;
  margin-left: 40px;
  margin-right: 60px;
  margin-bottom: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.testBox {
  background-color:rgb(255, 255, 255);
  height: 200px;
}

.logo {
  height: 85px;
}

.rightColumn {
  flex: 1;
  background-color: rgb(236, 236, 236);
  //box-shadow: -1px 10px 35px rgba(0, 0, 0, .7);
  z-index: 4;
  //border-radius: 10px;
  //margin: 20px;
  max-width: 300px;
  //margin-top: 35px;
  //margin-bottom: 35px;
}